{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block main %}
    <div text-align="center" style="background-color:white">
        <div class="hero-text">
            <p><img src="/static/img/farmerlogo_b.png"><br><br>
            </p>
            <a href="/farm1" id="btn" style="margin:20px;">Farm Controls</a><hr>
            <a href="/watertank" id="btn" style="margin:20px;">Water Tank</a>
            <br>
        </div>
    </div>

{% endblock %}