<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #3A3A3A">
            
    <a class="navbar-brand" href="/"><img src="/static/img/farmerlogo_s.png" id="navlogo"></a>
    <a class="navbar-brand" href="/farm1">Farm Control</a>
    <a class="navbar-brand" href="/watertank">Water Tank</a>
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
